
/__pycache__
/__pycache__/*
/lib/__pycache__
/lib/__pycache__/*
/lib/csvImport/__pycache__
lib/csvImport/__pycache__/*

# Ignore Visual Code history files
/.history

# Ignore local test data
/.test

# Ignore dist build
/dist
/dist/*
/dist_html

# Ignore the react build
/src/react/vite.config.js
/src/react/dist
/src/react/node_modules

# Do not commit the test CSV data (yet?)
/src/csv
/src/csv/*

# Do not commit the language data (yet?)
/phpApi/api/languages/
/phpApi/api/languages/*

# Never commit the payment tokens (secret)!
/phpApi/paymentTokens.json
