
/__pycache__
/__pycache__/*
/lib/__pycache__
/lib/__pycache__/*
/lib/csvImport/__pycache__
lib/csvImport/__pycache__/*

/dist
/dist/*
/dist_html

/src/csv
/src/csv/*

# Ignore Visual Code history files
/.history

/src/react/vite.config.js
/src/react/dist
/src/react/node_modules

/phpApi/api/languages/
/phpApi/api/languages/*

/deploy_opt_me_out
/deploy_opt_me_out/*

/scripts/deploy.config
/phpApi/paymentTokens.json
