/*
*   Step specific
*/

/* Step 1 */
#step1 {
  .optOutToggle {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 20px;
    margin-bottom: 15px;

    h2 {
      margin: 0;
      flex: 0 20 auto;
    }
  }

  .pleaseNote * {
      color: $darkGreen !important;
  }

  .pleaseNote p {
    font-size: 1em;
  }
}

/* Splash screens & other pages */
#about {

}

/*************************************************************************
 *
 *   Country Select
 *
 **************************************************************************/
#countrySelect {
  .listCountries {
    // background: pink;
    flex: 1 1 auto;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.5em;
    color: #a6a6a6;

    &.active {
      cursor: pointer;
      color: $black;

      &:hover {
        color: $darkRed;
      }
    }
  }
}
