@import '/src/style/theme.scss';
@import '/src/style/_fonts.scss';
@import '/src/style/_interactive.scss';
@import '/src/style/_steps.scss';
@import '/src/style/_typography.scss';

/*
*   body & Layout
*/
body {
  background-color: $lightGrey;
  margin: 0;
  place-items: center;
  background-image: url("/src/assets/img/bgr.svg");
  background-color: $veryLightGreen;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Poppins", serif;
}

#root {
  width: 50%;
  min-height: 500px;
  margin: 25px auto;
  padding: 0 0 30px 0;
  width: 100%;
  background: #fff;

  @media only screen and (min-width: $bpSmall) {
    max-width: calc(100% - 40px);
  }

  @media only screen and (min-width: $bpMedium) {
    max-width: calc(100% - 68px);
  }

  @media only screen and (min-width: $bpLarge) {
    max-width: 940px;
  }
}

header {
  margin: 0 0 50px 0;
  padding: 25px 30px;
  background-image: url("/src/assets/img/logoWide.svg");
  background-repeat: no-repeat;
  background-size: 300px;
  height: 140px;
  background-position: center bottom;

  @media only screen and (min-width: $bpMedium) {

  }

  @media only screen and (min-width: $bpLarge) {
    background-size: 400px;
  }
}

.menu {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.row {
  margin: 0 10px 50px;

  @media only screen and (min-width: $bpSmall) {
    margin: 0 4.7% 50px;
  }

  @media only screen and (min-width: $bpMedium) {
    margin: 0 8.5% 50px;
  }

  @media only screen and (min-width: $bpLarge) {
    margin: 0 8.5% 50px;
  }
}


/*
*   Helper classes
*/
.flex-end {
  display: flex;
  justify-content: flex-end;
  clear: both;
}

.flex-center {
  display: flex;
  justify-content: center;
  clear: both;
}

.hide {
  display: none;
}

/*
*   Don't know what to call these yet
*/
h1.headline {
    font-weight: 800;
    font-size: 36px;
    line-height: 1.2em;
    text-align: center;

    margin: 0 10px 30px 10px;

    @media only screen and (min-width: $bpSmall) {
      margin: 0 30px 30px 30px;
    }

    @media only screen and (min-width: $bpMedium) {
      margin: 0 8.5% 30px 8.5%;
    }
}

.intro {
  font-size: 1.5rem;
  line-height: 1.5em;
  color: $grey;
  text-align: center;
  font-weight: 300;
  margin: 0 10px 50px 10px;

  @media only screen and (min-width: $bpSmall) {
    margin: 0 30px 50px 30px;
  }

  @media only screen and (min-width: $bpMedium) {
    margin: 0 17% 50px 17%;
  }
}

.readMore {
  max-height: 0;
  visibility: 0;

  .show {
    max-height: max-content;
    visibility: 1;
  }
}
