
/* Common color codes */

$red: #E71E24; 
$black: #222222;
$grey: #555555;
$lightGrey: #e1e1e1;
$veryLightGrey: #f7f7f7;
$darkGreen: #65673C;
$green: #B3B681;
$lightGreen: #D3D5B7;
$veryLightGreen: #ecede0;
$darkYellow: #C06900;
$yellow: #D1AA0A;
$lightYellow: #F9E380;
$veryLightYellow: #FDF7DC;