#############################################
# ftp credentials 
#############################################

# staging
FTP_STAGING_SERVER=ftp.example.com
FTP_STAGING_USER=example_user
FTP_STAGING_PASSWORD="xxxxxxxx"

# live
FTP_LIVE_SERVER=ftp.example.com
FTP_LIVE_USER=example_user
FTP_LIVE_PASSWORD="yyyyyyy"


#############################################
# branches in the repo deploy_opt_me_out
#############################################
GIT_STAGING_DEPLOY_BRANCH=staging
GIT_LIVE_DEPLOY_BRANCH=main


#############################################
# branches in the source code repo 
# https://github.com/marc-smits/OptMeOut
#############################################
GIT_STAGING_SOURCE_CODE_BRANCH=development
GIT_LIVE_SOURCE_CODE_BRANCH=development